.product-form {
  &__quantity {
    margin-bottom:30px;
  }
  &__count {
    width:190px;
    margin-right:50px;
    position:relative;
  }
  &__amount {
    display:inline-block;
    vertical-align:top;
    color:@blue;
    font-size:16px;
    line-height:18px;
    box-sizing:border-box;
    padding-top:11px;
    padding-left:5px;
    margin-right:23px;
  }
  &__counter {
    height:35px;
    width:69px;
    box-sizing:border-box;
    padding:19px 15px;
    font-family:"Open Sans", Arial, sans-serif;
    color:@blue;
    font-size:16px;
    line-height:18px;
    border:1px solid #dfdfdf;
    border-right:none;
  }
  &__count-btn {
    width:33px;
    height:20px;
    background-color:@green;
    border:none;
    outline:none;
    position:absolute;
    right:6px;
    &:hover {
      background-color:darken(@green, 5%);
    }
    &:active {
      background-color:darken(@green, 10%);
    }
    &--plus {
      border-top-right-radius:3px;
      top:0;
      &:after {
        content:"";
        position:absolute;
        border-right:3px solid transparent;
        border-bottom:3px solid #fff;
        border-left:3px solid transparent;
        top:15px;
        left:13px;
        height:0;
        width:0;
      }
    }
    &--minus {
      border-bottom-right-radius:3px;
      bottom:0;
      &:after {
        content:"";
        position:absolute;
        border-right:3px solid transparent;
        border-top:3px solid #fff;
        border-left:3px solid transparent;
        top:4px;
        left:13px;
        height:0;
        width:0;
      }
    }
  }
  &__pcs {
    font-size:16px;
    line-height:18px;
    color:@blue;
    padding-left:35px;
    padding-top:10px;
    position:relative;
    width:72px;
    &:before {
      content:"";
      position:absolute;
      width:26px;
      height:22px;
      top:9px;
      left:-1px;
      background:url("../img/sprites.png") no-repeat -568px -5px;
    }
  }
  &__weight {
    width:180px;
    padding-top:7px;
    position:relative;
    margin-right:47px;
    &:after {
      content:"";
      position:absolute;
      width:1px;
      height:20px;
      background-color:#dfdfdf;
      top:12px;
      left:86px;
    }
    &-btn {
      display:none;
    }
    &-label {
      cursor:pointer;
      padding-top:3px;
      font-size:16px;
      line-height:18px;
      color:@blue;
      padding-left:32px;
      position:relative;
      display:inline-block;
      vertical-align:top;
      opacity:0.3;
      margin-right:26px;

      &:last-of-type {
        margin-right:0;
      }
      &:before {
        content:"";
        position:absolute;
        width:24px;
        height:24px;
        top:0;
        left:0;
        background:url("../img/sprites.png") no-repeat -990px -5px;
      }
    }
  }
  &__weight-btn:checked + label {
    opacity:1;
  }
}