.product {
  padding-left: 67px;
  &__image {
    padding-top: 40px;
    padding-bottom: 44px;
    border: 1px solid @grey;
    width: 542px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__menu {
    max-width: 684px;
    &-title {
      margin: 0;
      font-size: 30px;
      line-height: 36px;
      color: @blue;
      font-weight: 800; 
      text-transform: uppercase; 
      margin-bottom: 12px;
    }
    &-rating {
      padding-left: 4px;
    }
    &-text {
      margin: 0;
      margin-right: 137px;
      font-size: 16px;
      line-height: 18px; 
      color: @blue;
      &-link {
        text-decoration: underline; 
        color: @green; 
        
      }
    }
    &-status {
      font-size: 16px;
      line-height: 18px;
      color: @blue;
      &--green {
        margin-left: 8px;  
        font-size: 12px;
        line-height: 18px;
        width: 80px;
        box-sizing: border-box;
        margin-left: 0px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        border-radius: 25px;
        padding: 1px 13px;
        background-color: @green;
      }
    }
  }
}